#logo { background: #fff 100% top no-repeat url("/img/bg.gif"); }

#main {

text-align: left;
left: 20px;
margin:5px;margin-left:15px;
background:#acf;
float: left;
-moz-border-radius: 4px 3px 6px / 2px 4px;
}

.search .ac .ac-input-box {
border-radius: 16px 0 0 16px;
float: left;
width: 205px;
}

.test15 {
border-color: #acf;
border-right-color: #fca;
}
.test17 {
margin-left:0;
}

.btn-group > .btn:first-child {
border-radius:5px 0 0 10px;
}

#main li.active
	{
		margin-left:5px;
		margin-right:15px;float:right;
		background: #fff left top no-repeat url("/img/bg.gif");
		}

.test{float:right;background: #fff;}
.test{float:right;}
.test{float:right;border-color: #fff;}

@media only screen {
		div#main {
			float: right;right:12px;
		}
.test{float:right;background: #eee;}
.test{float:right;}
.test{float:right;border-color: #eee;}


}
/*
@media only screen and (max-device-width: 480px) {
		div#main {
			float: right;right:12px;
		}
}
*/

@media only screen and (max-device-width: 480px) {
		div#main {
			float: right;right:12px;
		}
}
